@background-color: #222;
@primary-color: #E3E3E3;
@accent-color: #F95959;
@secondary-color: #455D7A;

//-------- General classes
body{
    background-color: @background-color;
    color: @primary-color;
}

.no-show{
    display: none;
}

.js-error-msg{
    color: crimson;
}

input:focus {
    outline:none;
}


//-------- login page
.login-form-ctr{
    
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid @accent-color;
    
    label{
        font-size: 2em;
        margin-top:-3px;
        padding-left: 0px;
    }
    input[type="text"], input[type="password"]{
        font-size: 2em;
        background-color: @background-color;
        color: @primary-color;
        border-color: @background-color;
        
        border-radius: 0px;
        margin: 0px;
        padding:0px;
    }
    :-moz-placeholder{
        color:@primary-color;
    } 
    ::-moz-placeholder{
        color:@primary-color;
    } 
    :-ms-input-placeholder{
        color:@primary-color;
    }
    ::-webkit-input-placeholder{
        color:@primary-color;
    }
}

#login-page{
    button{
        color:@primary-color;
        border-radius: 0px;
        border-color: @accent-color;
        background-color: @background-color;
        margin-top:10px;
        font-size: 2em;
    }
    button:hover{
        color:@secondary-color;
        border-color:@primary-color;
    }
}

.login-header{
    text-align: center;
    border-bottom: 5px solid @accent-color;
}

//-------- home page
.ct1 {
    p {
        color: @accent-color;
    }
}