<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#admin">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="logout-button">
            <a><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="home-region">
    <h1>Welcome <%= name %></h1>
    <a href="#search">
        <button id="search-button"
                class="btn btn-default">
            Search
        </button>
    </a>
    <a href="#jobs/new">
        <button id="new-job-button"
            class="btn btn-default">
            New Job
        </button>
    </a>
    <a href="#admin">
        <button id="setting-button"
                class="btn btn-default">
            Settings
        </button>
    </a>
</div>